@tailwind base;
@tailwind components;
@tailwind utilities;

.home .navbar {
  display: none;
  background-color: #fff;
  border: 1px solid red;
}


.ball{
    animation: float 3s ease-in-out infinite;
}
@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}


/* Navbar Hover transition */
.nav-link {
    position: relative;
    text-decoration: none; /* Optional, if you want to remove underline */
    color: #000; /* Text color */
    transition: color 0.3s ease; /* Optional, for smooth color change on hover */
  }
  
  .nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px; /* Adjust to control space between text and border */
    width: 0;
    height: 2px; /* Thickness of the border */
    background-color: #3498db; /* Border color */
    transition: width 0.3s ease;
  }
  
  .nav-link:hover {
    color: #3498db; /* Change color on hover if desired */
  }
  
  .nav-link:hover::after {
    width: 100%; /* Make border full width on hover */
  }

  

  
.glass {
    /* From https://css.glass */
    padding: 10px 20px 10px 20px;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.27);
    transition: .5s ease;
}

.glass:hover {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.34);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.27);
}

.glass-black{
    /* From https://css.glass */
    padding: 10px 20px 10px 20px;
    background: rgba(5, 5, 5, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(5, 5, 5, 0.3);
}




@media (max-width: 768px) {
  .home .navbar {
    display: initial;
    
  }
  .home .first-navbar {
    display: none;
    
  }
}